.navBar {
  width: 100%;
  display: flex;
  align-items: center;
  height: 20vh;
  background-color: #8364476e;
  justify-content: space-between;
  position: fixed;
}
.divLogo{
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgLogo {
  height: 10vh;
  width: 30%;
}
.titleNavbar{
  height: 100%;
  margin: 0;
  font-size: 35px;
}
.divSearchCart{
  width: 50%;
  display: flex;
  justify-content: space-between;
}

